<section class="row pt-5">
    <div class="col-md-6 mb-3">
        <h2 class="display-4"><span class="text-success">Express</span> <span class="fw-bold">demo</span> App</h2>
        <h2 class="mb-3">A demo app built with JavaScript & Express</h2>
        <a href="/contact" class="btn text-white btn-blue">Contact Developer</a>
    </div>
    <div class="col-md-6 mb-3">
        <img src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
             class="img-fluid shadow-lg rounded"
             alt="Express Demo App"
        />
    </div>
</section>