<footer class="text-white-50 nav-blue pt-4 pb-4">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-8 col-md-12">
                <h6 class="h3">Test Demo App</h6>
                <p class="text-white">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias aspernatur autem deserunt dolorem eaque eum illum necessitatibus nostrum officiis pariatur quisquam reprehenderit soluta sunt tempora, tempore veritatis, voluptates!
                </p>
            </div>
            <div class="col-lg-2 col-md-12">
                <h6 class="h3">Link</h6>
                <a class="nav-link" href="/">link</a>
                <a class="nav-link" href="/">link</a>
                <a class="nav-link" href="/">link</a>
            </div>
            <div class="col-lg-2 col-md-12">
                <h6 class="h3">Link</h6>
                <a class="nav-link" href="/">link</a>
                <a class="nav-link" href="/">link</a>
                <a class="nav-link" href="/">link</a>
            </div>
        </div>
    </div>
</footer>